.container-1 {
    border: 1px solid black;
    text-align: center;
    width: 75%;
    margin: auto;
}

.flex-box-container-1 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-2 {
    border: 1px solid black;
    padding: 10px;

}

.flex-box-container-2, .flex-box-container-3, .flex-box-container-4, .blackjack-row-1, .blackjack_buttons, .blackjack_score {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
}

.flex-box-container-2 img {
    box-shadow: 2px 4px 20px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 2px 4px 10px 3px rgba(0,0,0,1);
    -moz-box-shadow: 2px 4px 20px 3px rgba(0,0,0,1);
    margin: 10;
    padding: 2px;
    height: 120px;
}

.flex-box-container-3 img:hover{
    box-shadow: 8px 10px 50px rgba(37,50,233,1);
}

.flex-box-container-4 {
    padding: 10px;
}

.blackjack-row-1, .blackjack_buttons {
    background: url('https://wallpaperaccess.com/full/397972.jpg') center;
    color: white;
}

.blackjack-row-1 div{
    padding: 10px;
    border: 1px solid black;
    flex: 1;
    height: 350px;
}

.blackjack_buttons div {
    padding: 10px;
    border: 1px solid black;
    flex: 1;
}

.blackjack_buttons div {
    padding: 10px;
    border: 1px solid black;
}
.blackjack_score, table, th, td{
    padding: 10px;
    border: 1px solid black;
}
